<div>
    
    <a class="waves-effect waves-light btn" id ="scrapeBtn"><i class="material-icons left">cloud</i>scrape</a>

    </div>
  <table id="results">
    <thead>
      <tr>
        <th id="article-title">title</th>
        <th id="article-link">link</th>
        
      </tr>
    </thead>
    <tbody>
      <!-- Results from DB here -->
    </tbody>
  </table>

</div>
